* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #c41228;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    padding: 20px;
    background-color: white;
    text-align: center;
    border: 3px solid #006a65;
    border-radius: 10px;
}

.flex-container {
    display: flex;
    align-items: center;
    border-bottom: 3px solid #c41228;
}

.flex-container > img {
    height: 2em;
}

.flex-container > h1 {
    color: #c41228;
}

h1 > span {
    color: #006a65;
}

p {
    color: #c41228;
}

button {
    padding: 5px 10px;
    border: 3px solid #006a65;
    border-radius: 10px;
    background-color: #c41228;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #006a65;
    border: 3px solid #c41228;
}